@import "tailwindcss";

@layer utilities {
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
  
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: currentColor }
    }
  
    .animate-typing-welcome {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid #FAC857; 
      width: 0;
      animation: 
        typing 3s steps(36, end) forwards,
        blink-caret 0.75s step-end infinite;
    }

    @keyframes popIn {
      0% { opacity: 0; transform: translateY(10px) scale(0.95); }
      100% { opacity: 1; transform: translateY(0) scale(1); }
    }
  
    .animate-pop-in {
      animation: popIn 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }

    
  }